alembic
asgiref
attrs
certifi
charset-normalizer
click
coverage
docopt
fastapi
fastapi-jwt-auth
flake8
greenlet
h11
httptools
idna
iniconfig
mccabe
packaging
passlib[bcrypt]
pluggy
py
pycodestyle
pydantic
pyflakes
pymysql
pyparsing
pytest
pytest-cov
python-dotenv
python-jose[cryptography]
python-multipart
PyYAML
requests
SQLAlchemy
starlette
toml
typing-extensions
urllib3
uvicorn
uvloop
watchgod
websockets
yarg
