alembic
asgiref
attrs
certifi
charset-normalizer
click
coverage
docopt
fastapi
flake8
greenlet
h11
httptools
idna
iniconfig
mccabe
packaging
pluggy
py
pycodestyle
pydantic
pyflakes
pymysql
pyparsing
pytest
pytest-cov
python-dotenv
PyYAML
requests
SQLAlchemy
starlette
toml
typing-extensions
urllib3
uvicorn
uvloop
watchgod
websockets
yarg
